<div class="row">
  {{#each model as |state|}}
    {{#link-to 'states.show' state class="state"}}
      {{hero-section name=state.name backgroundImage=state.backgroundImage}}
      <br/>
    {{/link-to}}
  {{/each}}
</div>
